<div class="col-md-3">
  <div class="card mb-3">
    <%= link_to image_tag("https://about.canva.com/wp-content/uploads/sites/3/2015/01/art_bookcover.png",
      alt: "Rails logo", width: "100%"), book %>
    <div class="card-body">
      <h3 class="card-title"><%= link_to book.name, book %></h3>
      <p class="card-text"><%= book.writers %></p>
      <p class="card-text">
        <small class="text-muted"><%= t(".update") %> <%= book.publishing_year %></small>
      </p>
    </div>
  </div>
</div>
